body{
    .fira-sans-thin {
        font-family: "Fira Sans", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .fira-sans-thin-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .fira-sans-extralight {
        font-family: "Fira Sans", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .fira-sans-extralight-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .fira-sans-light {
        font-family: "Fira Sans", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .fira-sans-light-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .fira-sans-regular {
        font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .fira-sans-regular-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .fira-sans-medium {
        font-family: "Fira Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .fira-sans-medium-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .fira-sans-semibold {
        font-family: "Fira Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .fira-sans-semibold-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .fira-sans-bold {
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .fira-sans-bold-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .fira-sans-extrabold {
        font-family: "Fira Sans", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .fira-sans-extrabold-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .fira-sans-black {
        font-family: "Fira Sans", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .fira-sans-black-italic {
        font-family: "Fira Sans", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
}

.colorFondoNav{
    background-color: #ffc24f;
}
.colorFondo{
    background-color: white;
}
.colorFuente{
    color: chocolate;
}

.botones button:hover{
  background-color: #ffc24f;
  border-color: #9f6803;
  border-radius: 2rem;
  border-width: 2px;
  
}

.row a:hover{
  color: black;
  text-decoration: none;
}